<?xml version="1.0"?>
<configuration>
	
	<connectionStrings>
		
			<add name="cs" connectionString="Data Source=DESKTOP-VHG3DM9/SQLEXPRESS;Initial Catalog=hospital7; Integrated Security=True" providerName="System.Data.SqlClient"/>
		
	</connectionStrings>
	
  <system.web>
	 
	  
  </system.web>
</configuration>
